* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

body { background-color: #f0f0f0; }

.container { display: flex; }

.sidebar {
    width: 280px; height: 100vh;
    background-color: #2c3e50; color: white;
    padding: 30px; position: fixed; text-align: center;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    
    /* UPDATE BARIS INI */
    background-image: url('saskia.jpeg'); 
    background-size: cover;
    background-position: center;
}
.menu { list-style: none; margin-top: 30px; text-align: left; }
.menu li a { color: white; text-decoration: none; display: block; padding: 10px; }
.menu li a.active { background: #34495e; border-radius: 5px; font-weight: bold; }

.main-content { margin-left: 280px; padding: 40px; flex: 1; }

.card {
    background: white; padding: 30px;
    border-radius: 12px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.info-table td { padding: 10px; font-size: 15px; }
.about-me { 
    margin-top: 20px; padding: 15px; 
    border-left: 5px solid #2c3e50; background: #f9f9f9; 
    font-style: italic; 
}

.portfolio-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin-top: 15px; }
.project { background: #ecf0f1; padding: 15px; border-radius: 8px; border-bottom: 4px solid #bdc3c7; }